<footer id="gal-footer">
    <div class="container">  Copyright © 2018 [[${GLOBAL.BLOG_AUTHOR}]] Powered by
        <a href="http://www.iszhouhua.com/" target="_blank">周华</a>. Theme by AONOSORA
    </div>
    <div>
        <a th:unless="${#strings.isEmpty(GLOBAL.FILING_ICP)}" href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow" th:text="${GLOBAL.FILING_ICP}">粤ICP备18143925号-1</a>
        <span th:unless="${#strings.isEmpty(GLOBAL.FILING_SECURITY)}">
        <img src="/images/icon-filing.png" style="width: 15px;height: 15px;margin-top: -4px;margin-left: 4px;">
            [[${GLOBAL.FILING_SECURITY}]]
        </span>
    </div>
</footer>