<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

<div class="container container-star">
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
</div>
<div class="container container-bird">
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="bird bird-anim">
        <div class="bird-container">
            <div class="wing wing-left">
                <div class="wing-left-top"></div>
            </div>
            <div class="wing wing-right">
                <div class="wing-right-top"></div>
            </div>
        </div>
    </div>
    <div class="container-title">
        <div class="title">
            <div class="number">4</div>
            <div class="moon">
                <div class="face">
                    <div class="mouth"></div>
                    <div class="eyes">
                        <div class="eye-left"></div>
                        <div class="eye-right"></div>
                    </div>
                </div>
            </div>
            <div class="number">4</div>
        </div>
        <div class="subtitle">很抱歉，您要访问的页面不存在！</div>
        <button onclick="history.back(-1);">返回</button>
    </div>
</div>
</body>
</html>
