.article-content pre {
    position: relative;
    overflow-x: auto;
    padding: 20px;
    font-size: 14px;
    line-height: 22.4px;
    background: #f5f5f5;
    color: #4d4d4c
}

.article-content pre code {
    background: none;
    color: #4d4d4c
}

.article-content .highlight {
    position: relative;
    overflow-x: auto;
    padding: 20px;
    font-size: 14px;
    line-height: 22.4px;
    background: #f5f5f5
}

.article-content .highlight pre {
    margin: 0;
    padding: 0
}

.article-content .highlight .line {
    height: 22.4px;
    line-height: 22.4px
}

.article-content .highlight table {
    margin: 0;
    width: auto
}

.article-content .highlight td {
    border: none
}

.article-content .highlight tr, .article-content .highlight td {
    border-collapse: collapse;
    padding: 0;
    margin: 0
}

.article-content .highlight figcaption {
    font-size: .85em;
    color: #8e908c;
    line-height: 1em;
    margin-bottom: 1em
}

.article-content .highlight figcaption a {
    float: right
}

.article-content .highlight .gutter pre {
    color: #727272;
    font-size: .85em;
    text-align: right;
    padding-right: 20px
}

.article-content .gist {
    background: #f5f5f5
}

.article-content .gist tr, .article-content .gist td {
    height: auto
}

.article-content .gist .gist-file {
    border: none;
    font-family: Consolas, Monaco, courier, monospace
}

.article-content .gist .gist-file .highlight {
    margin: 0;
    padding: 0;
    border: none
}

.article-content .gist .gist-data {
    border: none
}

.article-content .gist .gist-data .line-numbers {
    color: #727272;
    font-size: .85em;
    background: none;
    border: none;
    padding: 0 20px 0 0
}

.article-content .gist .gist-data .line-data {
    padding: 0 !important
}

.article-content .gist .gist-meta {
    background: #f5f5f5;
    color: #8e908c;
    font: .85em Consolas, Monaco, courier, monospace
}

.article-content .gist .gist-meta a {
    color: #ff4081;
    font-weight: normal
}

.article-content .gist .gist-meta a:hover {
    text-decoration: underline
}

pre .comment {
    color: #8e908c
}

pre .tag {
    color: #8e908c
}

pre .variable, pre .title, pre .type, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .selector-pseudo, pre .css .id, pre .css .class, pre .css .pseudo, pre .tag .name {
    color: #c82829
}

pre .class, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #f5871f
}

pre .attribute, pre .label, pre .ruby .class .title, pre .css .rules .attribute, pre .tag .attr {
    color: #718c00
}

pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #4271ae
}

pre .selector-tag, pre .css .hexcolor, pre .css .tag {
    color: #3e999f
}

pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #4271ae
}

pre .selector-id, pre .selector-class, pre .keyword, pre .javascript .function {
    color: #8959a8
}

@media screen and (max-width: 760px) {
    .article-content .highlight {
        margin-left: -16px;
        margin-right: -16px;
        padding: 20px 16px
    }
}

.article-content {
    padding-top: 20px
}

.article-content {
    padding-bottom: 20px;
    line-height: 1.8
}

.article-content > .highlight, .article-content > .image-bubble, .article-content > pre {
    margin-left: -35px;
    margin-right: -35px
}

.article-content > .highlight, .article-content > pre {
    padding: 20px 35px
}

.article-content .image-bubble {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center
}

.article-content .image-caption {
    display: inline-block;
    margin-top: 10px;
    color: #727272
}

.article-content .headerlink {
    visibility: hidden;
    margin-left: -1em;
    padding-right: 5px;
    color: #c5cae9
}

.article-content .headerlink:before {
    content: "#"
}

.article-content p {
    word-wrap: break-word
}

.article-content p a, .article-content li a {
    color: #ff4081;
    border-bottom: 1px dotted #ffa6c4;
    word-break: break-all
}

.article-content p a:hover, .article-content li a:hover, .article-content p a:active, .article-content li a:active {
    text-decoration: none;
    border-bottom-style: solid;
    opacity: .7
}

.article-content strong {
    font-weight: 600;
    color: #3f51b5
}

.article-content strong a {
    border-color: #ff4081
}

.article-content em {
    color: #727272
}

.article-content h1 {
    font-size: 24px
}

.article-content h2 {
    font-size: 22px
}

.article-content h3 {
    font-size: 20px
}

.article-content h4 {
    font-size: 18px
}

.article-content h5 {
    font-size: 16px
}

.article-content h6 {
    font-size: 14px
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5 {
    padding-top: 56px;
    margin-top: -56px
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content blockquote, .article-content ol, .article-content p, .article-content pre, .article-content table, .article-content ul, .article-content figure, .article-content .video-container {
    margin-bottom: 20px;
}

.article-content .video-container iframe {
    max-width: 100%
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
    color: #3f51b5
}

.article-content h1:hover .headerlink, .article-content h2:hover .headerlink, .article-content h3:hover .headerlink, .article-content h4:hover .headerlink, .article-content h5:hover .headerlink, .article-content h6:hover .headerlink {
    visibility: visible
}

.article-content blockquote p:first-child, .article-content blockquote:first-child, .article-content ol:first-child, .article-content p:first-child, .article-content pre:first-child, .article-content table:first-child, .article-content ul:first-child, .article-content figure:first-child {
    margin-top: 0
}

.article-content ol, .article-content ul {
    font-size: 14px;
    line-height: 30px;
}

.article-content video, .article-content audio {
    max-width: 100%
}

.article-content blockquote {
    position: relative;
    padding: 16px 20px;
    border-left: 4px solid #3f51b5;
    color: #6e6e6e;
    background: #f5f5f5;
    font-size: 14px;
    border-radius: 0 2px 2px 0
}

.article-content blockquote p {
    margin: 0
}

.article-content blockquote footer {
    margin-top: 10px;
    text-align: right;
    font-size: 80%
}

.article-content table {
    width: 100%;
    border: 1px solid #dedede;
    margin: 15px 0;
    border-collapse: collapse
}

.article-content table tr, .article-content table td {
    height: 35px
}

.article-content table thead tr {
    background: #f8f8f8
}

.article-content table tbody tr:hover {
    background: #efefef
}

.article-content table td, .article-content table th {
    border: 1px solid #dedede;
    padding: 0 10px
}

.article-content figure table {
    border: none;
    width: auto;
    margin: 0
}

.article-content figure table tbody tr:hover {
    background: none
}

.article-content figure table tbody td {
    border: none
}

.article-content code, .article-content kbd, .article-content pre, .article-content samp {
    font-family: Consolas, Monaco, courier, monospace
}

.article-content code, .article-content pre {
    background: #f5f5f5
}

.article-content p code, .article-content li code {
    color: #ff4081;
    line-height: 1;
    margin: 0 4px;
    font-size: 80%;
    padding: 3px 5px;
    border: 1px solid #eee;
    border-radius: 2px;
    word-wrap: break-word
}

.article-content pre {
    margin: 24px 0
}

.article-content pre code {
    border-radius: 0;
    font-size: inherit;
    margin: 0;
    padding: 0
}

@media screen and (max-width: 480px) {
    .has-jax {
        font-size: 10px
    }

    .article-content .highlight, .article-content .image-bubble, .article-content > pre {
        margin-left: -16px;
        margin-right: -16px
    }

    .article-content .highlight, .article-content > pre {
        padding: 16px
    }
}

.article-content {
    word-break: break-all
}

.article-content .highlight, .article-content > pre {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px
}

.article-footer {
    background-color: transparent;
}

.article-tags {
    font-size: 14px
}

.article-tags i {
    margin-right: 10px;
    color: #3d4450
}

.article-tags a {
    display: inline-block;
    padding: 2px 6px 3px;
    margin: 0 2px;
    color: #fff;
    background-color: #4a4a4a;
    opacity: .70;
    filter: alpha(opacity=90)
}

.article-tags a:hover {
    background-color: #428bca;
    opacity: 1;
    filter: alpha(opacity=100)
}

.label {
    padding: .3em .6em;
}

.article-tags a:nth-child(5n) {
    background-color: #4a4a4a
}

.article-tags a:nth-child(5n+1) {
    background-color: #428bca
}

.article-tags a:nth-child(5n+2) {
    background-color: #5cb85c
}

.article-tags a:nth-child(5n+3) {
    background-color: #d9534f
}

.article-tags a:nth-child(5n+4) {
    background-color: #f0ad4e
}

.comment-children {
    background-color: rgba(217, 237, 247, 0.6);
    margin-left: 22px;
}

.title-article > h1, h4 {
    font-weight: 400;
}

.article-content {
    text-align: justify
}

.article-content blockquote {
    border-color: #00bfff;
    background-color: rgba(255, 255, 255, 0.51)
}

.article-content code {
    word-break: break-all;
    font-size: 10px
}

.article-content .highlight {
    overflow: auto;
    padding: 10px;
    background-color: #f5f5f5
}

.article-content .highlight ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #ddd
}

.article-content .highlight ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ddd
}

.article-content .highlight ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd
}

.article-content .highlight table {
    width: 100%
}

.article-content .highlight table pre {
    border: 0
}

.article-content p {
    font-size: 14px;
    margin: 10px 0;
}

.article-content p > a > img {
    display: block !important
}

.article-content blockquote p {
    font-size: 12pt;
    COLOR: #3399CC;
    font-weight: 300;
    line-height: 1.25
}

.article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
    margin: 20px 0 15px;
    padding-top: 10px
}

.article-content h3 {
    font-size: 18px
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
    font-weight: bold;
    line-height: 1.5;
    background-color: rgba(255,255,255,0.51);
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid rgb(0,191,255);
}