::selection {
    background: #d9534f;
    color: white
}

html, body {
    min-height: 100%
}

body {
    color: #3d4450;
    cursor: url(../images/mouse1.cur), url(../images/mouse1.cur), auto;
    word-wrap: break-word;
    background: 0% 0%/cover no-repeat fixed #000;
    background-repeat: no-repeat
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #018EE8
}

a {
    cursor: url(../images/mouse2.cur), url(../images/mouse2.cur), auto;
    color: #d2322d;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%;
    border-radius: 4px;
    vertical-align: middle;
    height: auto
}

h1, h2, h3, h4, h5 {
    font-weight: 100
}

.navbar {
    z-index: 1000;
    border: 0;
    margin-bottom: 0
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0
    }
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8)
}

.dropdown-menu > li > a {
    padding: 10px 20px;
    font-weight: normal
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #d9534f;
    text-decoration: none;
    transition: all 0.3s ease
}

.well {
    margin-bottom: 30px;
    border: 0
}

.breadcrumb {
    background-color: rgba(255, 255, 255, 0.4)
}

.breadcrumb-gal {
    background-color: rgba(230, 238, 232, 0.5);
    box-shadow: #c2c2c2 0px 0px 5px;
    -webkit-box-shadow: #c2c2c2 0px 0px 5px;
    -moz-box-shadow: #c2c2c2 0px 0px 5px;
    -o-box-shadow: #c2c2c2 0px 0px 5px;
    margin-bottom: 40px
}

.panel {
    border-radius: 4px;
    background-color: rgba(230, 238, 232, 0.5);
    box-shadow: 0 0 5px #c2c2c2;
    -webkit-box-shadow: 0 0 5px #c2c2c2;
    -moz-box-shadow: 0 0 5px #c2c2c2;
    -o-box-shadow: 0 0 5px #c2c2c2;
    border: none
}

.panel:hover {
    box-shadow: 0px 0px 50px black;
    -webkit-box-shadow: 0px 0px 50px black;
    -moz-box-shadow: 0px 0px 50px black;
    -o-box-shadow: 0px 0px 50px black
}

.panel2 {
    background-color: rgba(230, 238, 232, 0.5)
}

.panel-heading {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    border-bottom: none
}

.list-group-item {
    background-color: rgba(230, 238, 232, 0.3);
    transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 50px black;
    -webkit-box-shadow: 0 0 50px black;
    -moz-box-shadow: 0 0 50px black;
    -o-box-shadow: 0 0 50px black
}

.panel > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.label-gal {
    background-color: rgba(10, 10, 0, 0.7);
    margin-right: 5px;
    font-size: 90%
}

.label-gal > a {
    color: #fff
}

.label-gal:hover {
    background-color: #d9534f;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.label-gal:hover > a {
    text-decoration: none
}

.alert-gal {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: auto;
    color: #666;
    background-color: #eee
}

.close {
    font-size: 14px;
    font-weight: bold;
    color: #3d4450;
    opacity: 1
}

.close:hover, .close:focus {
    color: #d2322d;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    opacity: 1
}

button.close {
    background: transparent
}

.btn {
    font-size: 12px
}

.form-control {
    vertical-align: middle;
    border-color: #f89693;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238, 88, 83, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238, 88, 83, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238, 88, 83, 0.6)
}

.form-control:focus {
    border-color: #f89693
}

#gal-issue {
    background-color: rgba(230, 238, 232, 0.5);
    box-shadow: 0 0 8px black;
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    -o-box-shadow: 0 0 8px black;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease
}

#gal-issue:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 50px black;
    -webkit-box-shadow: 0 0 50px black;
    -moz-box-shadow: 0 0 50px black;
    -o-box-shadow: 0 0 50px black
}

@media (min-width: 768px) {
    [aos^=flip] {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden
    }

    [aos=flip-up] {
        -webkit-transform: perspective(2500px) rotateX(-100deg);
        -moz-transform: perspective(2500px) rotateX(-100deg);
        -ms-transform: perspective(2500px) rotateX(-100deg);
        -o-transform: perspective(2500px) rotateX(-100deg);
        transform: perspective(2500px) rotateX(-100deg)
    }

    [aos=flip-up].aos-animate {
        -webkit-transform: perspective(2500px) rotateX(0);
        -moz-transform: perspective(2500px) rotateX(0);
        -ms-transform: perspective(2500px) rotateX(0);
        -o-transform: perspective(2500px) rotateX(0);
        transform: perspective(2500px) rotateX(0)
    }

    [aos][aos][aos-easing=ease-out-back], body[aos-easing=ease-out-back] [aos] {
        -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }

    [aos][aos][aos-duration='1000'], body[aos-duration='1000'] [aos] {
        -webkit-transition-duration: 1s;
        transition-duration: 1s
    }

    [aos="fade-up"] {
        -webkit-transform: translate(0px, 100px);
        -moz-transform: translate(0px, 100px);
        -ms-transform: translate(0px, 100px);
        -o-transform: translate(0px, 100px);
        transform: translate(0px, 100px)
    }

    [aos^="fade"][aos^="fade"] {
        opacity: 0;
        transition-property: all
    }

    [aos="fade-up"].aos-animate {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px)
    }

    [aos][aos][aos-easing="ease-out-back"], body[aos-easing="ease-out-back"] [aos] {
        -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }

    [aos][aos][aos-duration="2000"], body[aos-duration="2000"] [aos] {
        transition-duration: 2s;
        -webkit-transition-duration: 2s
    }

    [aos^="fade"][aos^="fade"].aos-animate {
        opacity: 1
    }

    [data-aos^=fade][data-aos^=fade] {
        opacity: 0;
        transition-property: all;
        -webkit-transition-property: all
    }

    [aos][aos][aos-duration='3000'], body[aos-duration='3000'] [aos] {
        -webkit-transition-duration: 3s;
        transition-duration: 3s
    }

    [aos=flip-right] {
        -webkit-transform: perspective(2500px) rotateY(100deg);
        -moz-transform: perspective(2500px) rotateY(100deg);
        -ms-transform: perspective(2500px) rotateY(100deg);
        -o-transform: perspective(2500px) rotateY(100deg);
        transform: perspective(2500px) rotateY(100deg)
    }

    [aos=flip-right].aos-animate {
        -webkit-transform: perspective(2500px) rotateY(0);
        -moz-transform: perspective(2500px) rotateY(0);
        -ms-transform: perspective(2500px) rotateY(0);
        -o-transform: perspective(2500px) rotateY(0);
        transform: perspective(2500px) rotateY(0)
    }

    [data-aos^="flip-right"][data-aos^="flip-right"] {
        transition-property: all;
        -webkit-transition-property: all
    }
}

#gal-body {
    padding: 30px 0
}

@media (max-width: 767px) {
    #gal-body {
        font-size: 12px !important
    }
}

#gal-gotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    background-color: rgba(10, 10, 0, 0.7);
    top: auto;
    display: none;
    z-index: 999;
    color: white;
    border-radius: 50%;
    border: 2px solid #fff;
    border-image: initial;
    cursor: url(../images/mouse2.cur), url(../images/mouse2.cur), auto
}

#gal-gotop:hover {
    color: #d9534f;
    border-color: #d9534f;
    transition: all 0.3s ease
}

#gal-gotop > i {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    display: block
}

#gal-footer {
    display: block;
    text-align: center;
    color: #eee;
    padding: 50px
}

#gal-footer a {
    color: #eee
}

#gal-footer a:hover {
    color: #d9534f;
    text-decoration: none
}

.gal-image-container {
    text-align: center
}

.gal-image {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -ms-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    z-index: 999
}

.gal-image:hover {
    -webkit-transform: scale(1.5) rotate(1deg);
    -moz-transform: scale(1.5) rotate(1deg);
    -ms-transform: scale(1.5) rotate(1deg);
    -o-transform: scale(1.5) rotate(1deg);
    transform: scale(1.5) rotate(1deg)
}

.gal-menu {
    display: none;
    position: fixed;
    font-size: 14px;
    z-index: 1000002;
    margin: 0;
    padding: 0
}

.gal-menu .circle {
    margin: 0 auto
}

.gal-menu .circle, .gal-menu .ring {
    height: 300px;
    position: relative;
    width: 300px
}

.gal-menu .ring {
    opacity: 0;
    -webkit-transform-origin: 50% 50% 0px;
    -moz-transform-origin: 50% 50% 0px;
    -ms-transform-origin: 50% 50% 0px;
    -o-transform-origin: 50% 50% 0px;
    transform-origin: 50% 50% 0px;
    border-radius: 50%;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-transform: scale(0.1) rotate(-270deg);
    -moz-transform: scale(0.1) rotate(-270deg);
    -ms-transform: scale(0.1) rotate(-270deg);
    -o-transform: scale(0.1) rotate(-270deg);
    transform: scale(0.1) rotate(-270deg)
}

.gal-menu .open .ring {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg)
}

.gal-menu .menuItem {
    color: #eee;
    display: block;
    height: 80px;
    line-height: 80px;
    margin-left: -41px;
    margin-top: -41px;
    position: absolute;
    text-align: center;
    width: 80px;
    background-size: 80px;
    box-shadow: #fff 0px 0px 15px;
    -webkit-box-shadow: #fff 0px 0px 15px;
    -moz-box-shadow: #fff 0px 0px 15px;
    -o-box-shadow: #fff 0px 0px 15px;
    border: 2px solid #b59494;
    border-radius: 50%;
    border-image: initial
}

.gal-menu .menuItem:hover {
    box-shadow: #fff 0px 0px 80px inset;
    -webkit-box-shadow: #fff 0px 0px 80px inset;
    -moz-box-shadow: #fff 0px 0px 80px inset;
    -o-box-shadow: #fff 0px 0px 80px inset
}

.gal-menu .ring a {
    display: inline-block;
    color: #fff;
    text-shadow: #dc965a 1px 0px 0px, #dc965a 0px 1px 0px, #dc965a -1px 0px 0px, #dc965a 0px -1px 0px
}

.gal-menu .ring a:hover {
    text-shadow: #6cf 1px 0px 0px, #6cf 0px 1px 0px, #6cf -1px 0px 0px, #6cf 0px -1px 0px
}

.gal-menu .ring a:nth-of-type(1) {
    background-image: url(../images/onj/1.jpg)
}

.gal-menu .ring a:nth-of-type(2) {
    background-image: url(../images/onj/2.jpg)
}

.gal-menu .ring a:nth-of-type(3) {
    background-image: url(../images/onj/3.jpg)
}

.gal-menu .ring a:nth-of-type(4) {
    background-image: url(../images/onj/4.jpg)
}

.gal-menu .ring a:nth-of-type(5) {
    background-image: url(../images/onj/5.jpg)
}

.gal-menu .ring a:nth-of-type(6) {
    background-image: url(../images/onj/6.jpg)
}

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1) rotate(0deg)
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1) rotate(0deg)
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1) rotate(0deg)
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1) rotate(0deg)
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1) rotate(0deg)
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1) rotate(0deg)
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1) rotate(0deg)
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1) rotate(0deg)
    }
    100% {
        opacity: 0
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out
    }
    17% {
        opacity: 1;
        transform: scale(1.1) rotate(0deg)
    }
    25% {
        opacity: 0;
        transform: scale(1.1) rotate(0deg)
    }
    100% {
        opacity: 0
    }
}

.cb-slideshow, .cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2
}

.cb-slideshow:after {
    content: ''
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0;
    z-index: -2;
    -webkit-backface-visibility: hidden;
}

header#gal-header {
    font-size: 14px;
    border-radius: 0;
    border-color: #080808;
    background-color: rgba(10, 10, 0, 0.7);
    box-shadow: 0 0 8px black;
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    -o-box-shadow: 0 0 8px black
}

header#gal-header .navbar-toggle:hover, header#gal-header .navbar-toggle:focus {
    background-color: #333;
    outline: #e59700 auto 5px
}

header#gal-header .navbar-toggle .fa-reorder {
    color: #fff
}

header#gal-header #menu-gal > li > a {
    color: #fff
}

header#gal-header #menu-gal > li.active > a {
    background-color: rgba(138, 43, 226, 0.7)
}

header#gal-header #menu-gal > li:not(.active) > a:hover, header#gal-header #menu-gal > li:not(.active) > a:focus {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    background-color: rgba(100, 90, 200, 0.7)
}

#gal-pagination .pagination-gal {
    margin: 0;
    border-radius: 4px
}

#gal-pagination .pagination-gal > li > a, #gal-pagination .pagination-gal > li > span {
    color: #e6e6fa;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 10px;
    border: 2px solid #6b69d6;
    border-image: initial;
    border-radius: 4px
}

#gal-pagination .pagination-gal > li > a:hover, #gal-pagination .pagination-gal > li > a:focus, #gal-pagination .pagination-gal > li > span:hover, #gal-pagination .pagination-gal > li > span:focus {
    color: #fff;
    background-color: #6b69d6;
    border: 2px solid #6b69d6;
    border-image: initial;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#gal-pagination .pagination-gal > li.active > span {
    color: #fff;
    background-color: #6b69d6;
    border: 2px solid #6b69d6;
    border-image: initial;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF
    }
}

#article-list {
    margin-top: 20px
}

#article-list .article-body {
    background-color: rgba(230, 238, 232, 0.5);
    box-shadow: 0 0 8px black;
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    -o-box-shadow: 0 0 8px black
}

#article-list .article-body:hover {
    box-shadow: 0 0 50px black;
    -webkit-box-shadow: 0 0 50px black;
    -moz-box-shadow: 0 0 50px black;
    -o-box-shadow: 0 0 50px black
}

#article-list .article {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px
}

#article-list i.article-stick {
    position: absolute;
    top: -10px;
    right: 5%;
    font-size: 40px;
    color: #d9534f
}

#article-list div.data-article {
    background-color: #6b69d6;
    border-color: #6b69d6;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    left: -20px;
    top: -20px;
    color: #fff;
    padding-top: 10px
}

#article-list div.data-article > span.month, #article-list div.data-article > span.day {
    text-align: center;
    display: block
}

#article-list div.data-article > span.month {
    margin: 0
}

#article-list div.data-article > span.day {
    font-size: 30px;
    font-weight: bold;
    margin-top: -5px
}

#article-list .title-article {
    text-align: center;
    padding: 10px 15px 0 15px
}

@media (max-width: 767px) {
    #article-list .title-article {
        padding: 0
    }
}

#article-list .title-article > h1 {
    font-size: 32px;
    margin: 0 auto;
    text-align: center
}

#article-list .title-article > h1 > a {
    color: #3d4450;
    text-decoration: none
}

#article-list .title-article > h1 > a:hover {
    text-decoration: none
}

#article-list .title-article > h1 > a > span {
    color: #fff;
    position: static;
    opacity: 0.8;
    background: #1ec7e6;
    font: 90%/1.5 微软雅黑, Verdana, Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 2px;
    border-radius: 5px
}

#article-list .title-article > h1 > a > span:hover {
    animation: neon 1.5s ease-in-out infinite alternate;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    -o-animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0)
}

#article-list .title-article > center > h4 > a {
    color: #3d4450;
    text-decoration: none
}

#article-list .title-article > center > h4 > a:hover {
    text-decoration: none
}

#article-list .title-article > center > h4 > a > span {
    color: #fff;
    position: static;
    opacity: 0.8;
    background: #1ec7e6;
    font: 90%/1.5 微软雅黑, Verdana, Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 2px;
    border-radius: 5px
}

#article-list .title-article > center > h4 > a > span:hover {
    animation: neon 1.5s ease-in-out infinite alternate;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    -o-animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0)
}

#article-list .tag-article {
    text-align: center;
    line-height: 24px;
    margin: 20px
}

#article-list .content-article > .item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    position: relative;
    width: 100%;
    overflow: hidden
}

#article-list .content-article > .item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#article-list .content-article > .item img {
    width: 100%;
    height: 100%
}

#article-list .content-article > .item > a {
    color: #333
}

#article-list .content-article > .item > a:hover {
    text-decoration: none
}

#article-list .content-article > .item > a:hover > .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

#article-list .content-article > .item > a:hover > .info {
    visibility: visible;
    opacity: 1
}

#article-list .content-article > .item > a:hover > .info > p {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

#article-list .content-article > .item > a > .img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}

#article-list .content-article > .item > a > .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}

#article-list .content-article > .item > a > .info > p {
    font-style: italic;
    font-size: 25px;
    position: relative;
    color: #bbb;
    text-align: center;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
    -webkit-transition: all .35s .3s linear;
    -moz-transition: all .35s .3s linear;
    -ms-transition: all .35s .3s linear;
    -o-transition: all .35s .3s linear;
    transition: all .35s .3s linear;
    padding: 20px
}

#article.article, #article-archive.article, #article-tag.article, #article-tags.article, #article-categories.article, #article-category.article {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px
}

#article.article-body, #article-archive.article-body, #article-tag.article-body, #article-tags.article-body, #article-categories.article-body, #article-category.article-body {
    background-color: rgba(230, 238, 232, 0.5);
    box-shadow: 0 0 8px black;
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    -o-box-shadow: 0 0 8px black
}

#article.article-body:hover, #article-archive.article-body:hover, #article-tag.article-body:hover, #article-tags.article-body:hover, #article-categories.article-body:hover, #article-category.article-body:hover {
    box-shadow: 0 0 50px black;
    -webkit-box-shadow: 0 0 50px black;
    -moz-box-shadow: 0 0 50px black;
    -o-box-shadow: 0 0 50px black
}

#article .title-article, #article-archive .title-article, #article-tag .title-article, #article-tags .title-article, #article-categories .title-article, #article-category .title-article {
    padding: 10px 15px 0 15px
}

#article .title-article > h1, #article-archive .title-article > h1, #article-tag .title-article > h1, #article-tags .title-article > h1, #article-categories .title-article > h1, #article-category .title-article > h1 {
    font-size: 32px;
    margin: 0 auto;
    text-align: center
}

#article .title-article > h1 > a, #article-archive .title-article > h1 > a, #article-tag .title-article > h1 > a, #article-tags .title-article > h1 > a, #article-categories .title-article > h1 > a, #article-category .title-article > h1 > a {
    color: #3d4450;
    text-decoration: none
}

#article .title-article > h1 > a:hover, #article-archive .title-article > h1 > a:hover, #article-tag .title-article > h1 > a:hover, #article-tags .title-article > h1 > a:hover, #article-categories .title-article > h1 > a:hover, #article-category .title-article > h1 > a:hover {
    color: #d9534f;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#article .tag-article, #article-archive .tag-article, #article-tag .tag-article, #article-tags .tag-article, #article-categories .tag-article, #article-category .tag-article {
    text-align: center;
    line-height: 24px;
    margin: 20px
}

#article .content-article img, #article-archive .content-article img, #article-tag .content-article img, #article-tags .content-article img, #article-categories .content-article img, #article-category .content-article img {
    margin: 10px auto;
    display: inline-block;
    width: auto
}

.panel-toggle, .panel-remove {
    float: right;
    cursor: pointer;
    margin: 0 0 0 5px
}

.panel-toggle:hover, .panel-remove:hover {
    color: #d9534f;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.panel ul.list-group {
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.panel.toggled ul.list-group {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.panel-gal > .panel-heading {
    color: #fff;
    background-color: rgba(10, 10, 0, 0.7);
    border-color: #000
}

.panel.toggled .panel-heading {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.panel-gal .badge {
    background-color: #d9534f
}

.panel-gal a {
    color: #666
}

.panel-gal a:hover {
    color: #b94a48
}

.panel .post-title {
    display: inline-block;
    width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

#sidebar aside > div {
    margin-bottom: 30px
}

#sidebar div.search {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgba(10, 10, 0, 0.7)
}

#sidebar div.search input[type="text"] {
    width: 85%;
    float: left;
    margin-right: 10px;
    background-color: transparent
}

#sidebar div.search input[type="text"]:focus {
    background-color: #fff;
    box-shadow: 0 0 50px black;
    -webkit-box-shadow: 0 0 50px black;
    -moz-box-shadow: 0 0 50px black;
    -o-box-shadow: 0 0 50px black
}

#sidebar div.search button {
    float: left;
    margin-top: 2px
}

.author-panel {
    padding: 20px 0
}

.author-panel img.author-image {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%
}

.author-panel img.author-image:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}

.author-panel p.author-email {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #d9534f;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.nav-pills > li.active a {
    color: #fff;
    background-color: #d9534f
}

.nav-pills > li.active a:hover, .nav-pills > li.active a:focus {
    color: #fff;
    background-color: #d9534f
}

ul.pills-gal {
    padding: 10px
}

ul.pills-gal li {
    margin-left: 5px
}

ul.pills-gal li a {
    border-radius: 5px
}

ul.pills-gal li a:hover {
    color: #fff
}

.tab-content {
    border-top: 1px solid #eee;
    padding: 10px
}

.panel-gal .tab-content a:hover, .panel-gal .nav-pills a:hover {
    color: #fff
}

#sidebar-tags a:hover {
    color: #fff
}

.cloud-tags a {
    display: inline-block;
    color: #fff;
    opacity: 0.7;
    padding: 2px 6px 3px;
    margin: 0 2px
}

.cloud-tags a:hover {
    opacity: 1
}

.cloud-tags a:nth-child(7n+1) {
    background-color: #428bca
}

.cloud-tags a:nth-child(7n+2) {
    background-color: #5cb85c
}

.cloud-tags a:nth-child(7n+3) {
    background-color: #d9534f
}

.cloud-tags a:nth-child(7n+4) {
    background-color: #f0ad4e
}

.cloud-tags a:nth-child(7n+5) {
    background-color: #b37333
}

.cloud-tags a:nth-child(7n+6) {
    background-color: #b433ff
}

.cloud-tags a:nth-child(7n) {
    background-color: #4a4a4a
}

#sidebar-recent_comments .author-avatar .avatar {
    border-radius: 50%;
    border: 1px solid #eee;
    position: relative;
    z-index: 99;
    float: left;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#sidebar-recent_comments .author-avatar .avatar:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#sidebar-recent_comments .hint, #sidebar-recent_comments [data-hint2] {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #666;
    cursor: url(../images/mouse2.cur), url(../images/mouse2.cur), auto
}

#sidebar-recent_comments .hint:hover, #sidebar-recent_comments [data-hint2]:hover {
    color: #b94a48
}

#sidebar-recent_comments .hint:hover:before, #sidebar-recent_comments .hint:hover:after, #sidebar-recent_comments [data-hint2]:hover:before, #sidebar-recent_comments [data-hint2]:hover:after {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms
}

#sidebar-recent_comments .hint:focus:before, #sidebar-recent_comments .hint:focus:after, #sidebar-recent_comments [data-hint2]:focus:before, #sidebar-recent_comments [data-hint2]:focus:after {
    visibility: visible;
    opacity: 1
}

#sidebar-recent_comments .hint--left:hover:before, #sidebar-recent_comments .hint--left:hover:after, #sidebar-recent_comments .hint--left:focus:before, #sidebar-recent_comments .hint--left:focus:after {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    -o-transform: translateX(-8px);
    transform: translateX(-8px)
}

#sidebar-recent_comments .hint:before, #sidebar-recent_comments [data-hint2]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001
}

#sidebar-recent_comments .hint:after, #sidebar-recent_comments [data-hint2]:after {
    content: attr(data-hint2);
    background: #383838;
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap
}

#sidebar-recent_comments .hint:before, #sidebar-recent_comments .hint:after, #sidebar-recent_comments [data-hint2]:before, #sidebar-recent_comments [data-hint2]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms
}

#sidebar-recent_comments .hint--left:before {
    border-left-color: #383838;
    margin-right: -12px;
    margin-bottom: -6px
}

#sidebar-recent_comments .hint--left:before, #sidebar-recent_comments .hint--left:after {
    right: 100%;
    bottom: 50%
}

#sidebar-recent_comments .hint--rounded:after {
    border-radius: 4px
}

#sidebar-recent_comments .hint--left:after {
    margin-bottom: -14px
}

#sidebar-recent_comments .comment-log {
    line-height: 20px;
    background-color: #eee;
    border-color: #eee;
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    margin-left: 10px;
    width: 80%
}

#comments-template .comments-container.comments-root-container .comments-header-container {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 20px 0
}

#comments-template .comments-container.comments-root-container .comments-header-container.alert {
    border-image: initial;
    border-radius: 4px;
    overflow: auto
}

#comments-template .comments-container.comments-root-container .comments-header-container.alert-info {
    color: #3a87ad;
    background-color: rgba(217, 237, 247, 0.8)
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list {
    padding: 0;
    margin-bottom: 20px
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list a {
    color: #3d4450
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list a:hover {
    color: #d9534f;
    text-decoration: none
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li {
    background-color: rgba(230, 238, 232, 0.5);
    box-shadow: black 0 0 8px;
    -webkit-box-shadow: black 0 0 8px;
    -moz-box-shadow: black 0 0 8px;
    -o-box-shadow: black 0 0 8px;
    margin: 10px 0;
    list-style: none;
    padding: 2px;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li:hover {
    background-color: #fff;
    box-shadow: black 0px 0px 50px;
    -webkit-box-shadow: black 0px 0px 50px;
    -moz-box-shadow: black 0px 0px 50px;
    -o-box-shadow: black 0px 0px 50px
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body {
    position: relative
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body .comment-meta {
    position: relative;
    height: auto;
    min-height: 37px;
    line-height: 37px;
    padding-left: 45px;
    background: rgba(217, 237, 247, 0.6)
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body .comment-meta .comment-author {
    float: left
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body .comment-meta .comment-author img {
    background-color: white;
    position: absolute;
    display: block;
    left: -40px;
    top: 10px;
    border: 2px solid #fff;
    border-image: initial;
    border-radius: 50%;
    margin: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body .comment-meta .comment-metadata {
    text-transform: uppercase;
    float: right;
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body .comment-content {
    position: relative;
    padding: 20px 55px 30px 45px
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body .comment-reply-link, #comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body .comment-reply-login {
    position: absolute;
    bottom: 3px;
    right: 12px;
    font-size: 12px;
    text-transform: uppercase;
    display: block
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list > li .comment-body:hover .comment-meta .comment-author img {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    border-radius: 0
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list .comment-nav {
    margin-top: 20px
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list .comment-nav .pagination-gal {
    margin: 0;
    border-radius: 4px
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list .comment-nav .page-numbers {
    color: #d9534f;
    background-color: transparent;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #d9534f;
    border-image: initial;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin: 0 0 10px 10px;
    padding: 5px 10px
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list .comment-nav .page-numbers.dots {
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list .comment-nav .page-numbers.active {
    color: #fff;
    background-color: #d9534f;
    cursor: not-allowed
}

#comments-template .comments-container.comments-root-container .comments-comments-container.comment-list .comment-nav .page-numbers:hover {
    color: #fff;
    background-color: #d9534f;
    border: 2px solid #d9534f;
    border-image: initial;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#comments-template .comments-container.comments-root-container .comments-editor-container {
    padding-left: 0;
    margin: 20px 0
}

#comments-template .comments-container.comments-root-container .comments-editor-container .comment-reply-title {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: auto;
    color: #3a87ad;
    background-color: rgba(217, 237, 247, 0.8);
    margin: 10px auto;
    text-align: center;
    font-size: 14px
}

#comments-template .comments-container.comments-root-container .comments-editor-container .comments-editor-submit {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
    color: #d9534f;
    background-color: transparent;
    border: 2px solid #d9534f;
    padding: 10px 25px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#comments-template .comments-container.comments-root-container .comments-editor-container .comments-editor-submit:hover {
    color: #fff;
    background-color: #d9534f;
    border: 2px solid #d9534f;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#comments-template .comments-container.comments-root-container .comments-editor-container .comments-editor-write-field textarea {
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid #c1c1c1
}

#comments-template .comments-container.comments-root-container .comments-editor-container .comments-editor-write-field textarea:focus {
    background-color: rgba(255, 255, 255, 0.9);
    outline: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 2px solid #d9534f
}

#comments-template .comments-container.comments-root-container .comments-footer-container {
    text-align: center
}

#comments-template .comments-container.comments-root-container .comments-footer-container a:hover {
    text-decoration: none
}

#smilelink {
    display: inline-block;
    margin-bottom: 10px;
    cursor: url(../images/mouse1.cur), url(../images/mouse1.cur), auto
}

#smilelink img {
    opacity: 0.7;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    cursor: url(../images/mouse2.cur), url(../images/mouse2.cur), auto;
    -webkit-transition: -webkit-transform .2s ease-out;
    -moz-transition: -webkit-transform .2s ease-out;
    -ms-transition: -webkit-transform .2s ease-out;
    -o-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out
}

#smilelink img:hover {
    opacity: 1;
    z-index: 1000;
    -webkit-transform: scale(1.5) rotate(1deg);
    -moz-transform: scale(1.5) rotate(1deg);
    -ms-transform: scale(1.5) rotate(1deg);
    -o-transform: scale(1.5) rotate(1deg);
    transform: scale(1.5) rotate(1deg)
}
@media (max-width: 768px
) {
    body {
        background-color: #f0f0f0;
        background: url('../images/xsbg.gif');
        background-attachment: fixed;
    }
}

#gal-header .navbar-brand {
    height: 54px;
    line-height: 24px;
    font-size: 28px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
}