<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title th:text="${info.title}"></title>
    <meta name="keywords" th:content="${info.getKeywords()}?:${info.title}">
    <meta name="description" th:content="${info.description}?:${info.title}">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/toastr.min.css">
    <script src="/js/toastr.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <article class="article well article-body" id="article">
        <div class="breadcrumb">
            <i class="fa fa-home"></i>
            <a th:href="@{${BLOG_URL}}" th:title="${BLOG_TITLE}" th:text="${BLOG_TITLE}"></a>
            &gt;
            <a th:href="@{/category/{url}/(url=${info.category.url})}" th:title="${info.category.name}"
               th:text="${info.category.name}"></a>
            &gt;
            <span th:text="${info.title}"></span>
        </div>
        <!-- 大型设备详细文章 -->
        <div class="hidden-xs">
            <div class="title-article">
                <h1 th:text="${info.title}"></h1>
            </div>
            <div class="tag-article">
            <span class="label label-gal">
                <i class="fa fa-calendar"></i> [[${#dates.format(info.createTime,'yyyy-MM-dd')}]]
            </span>
                <span class="label label-gal">
                <i class="fa fa-eye"></i> [[${info.visits}]] ℃
            </span>
            </div>
        </div>
        <!-- 小型设备详细文章 -->
        <div class="visible-xs">
            <div style="text-align: center;">
                <div class="title-article">
                    <h4 style="color: #d2322d;" th:text="${info.title}"></h4>
                </div>
                <p>
                    <i class="fa fa-calendar"></i> [[${#dates.format(info.createTime,'yyyy-MM-dd')}]]
                    <i class="fa fa-eye"></i> [[${info.visits}]] ℃
                </p>
            </div>
        </div>
        <div class="article-content">
            [(${info.content})]
            <div class="alert alert-info">
                <span style="font-size: 11pt;">
                    版权声明: <a th:href="${BLOG_URL}" th:title="${BLOG_TITLE}"
                             th:text="${BLOG_TITLE}"></a>原创文章，转载请注明出处。<br><br>
                    文章链接: [[${#request.getRequestURL()}]]<br><br>
                    发表日期: [[${info.createTime}]]<br><br>
                    最后更新时间: [[${#dates.format(info.updateTime,'yyyy-MM-dd HH:mm')}]]<br>
                </span>
            </div>
            <!-- 标签 -->
            <footer class="article-footer">
                <div class="article-tags">
                    <i class="fa fa-tags"></i>
                    <a th:each="tag:${info.tags}" th:href="@{/tag/{url}/(url=${tag.url})}" th:title="${tag.name}"
                       th:text="${tag.name}"></a>
                </div>
            </footer>
        </div>
    </article>
    <th:block th:if="${info.isComment}">
        <div layout:replace="~{common/comment}"></div>
    </th:block>
</div>
</body>
</html>