<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title th:text="${info.title}"></title>
    <meta name="keywords" th:content="${info.getKeywords()}?:${GLOBAL.BLOG_KEYWORDS}">
    <meta name="description" th:content="${info.description}?:${GLOBAL.BLOG_DESCRIPTION}">
    <link rel="stylesheet" th:href="@{/css/article.css(v=1.0.1)}">
    <link rel="stylesheet" th:href="@{/vendor/toastr/toastr.min.css(v=2.1.1)}">
    <link rel="stylesheet" th:href="@{/vendor/highlight/styles/github.css(v=9.13.1)}">
    <script th:src="@{/vendor/toastr/toastr.min.js(v=2.1.1)}"></script>
</head>
<body>
<div layout:fragment="content">
    <article class="article well article-body" id="article">
        <i class="fa fa-user"></i>
        <span th:text="${info.title}"></span><br/>
        [(${info.content})]
    </article>
    <th:block th:if="${info.isComment}">
        <div layout:replace="~{common/comment}"></div>
    </th:block>
</div>
</body>
</html>