<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title></title>
    <meta name="keywords" th:content="${GLOBAL.BLOG_KEYWORDS}">
    <meta name="description" th:content="${GLOBAL.BLOG_DESCRIPTION}">
</head>
<body>
<div layout:fragment="content">
    <div th:unless="${#strings.isEmpty(GLOBAL.BLOG_NOTICE)}" class="alert well fade in" id="gal-issue"
         role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <!-- 公告内容 -->
        [(${GLOBAL.BLOG_NOTICE})]
        <!-- 公告内容结束 -->
    </div>
    <!-- 内容主体 -->
    <div id="article-list">
        <div layout:replace="~{common/article-list(list=${top})}"></div>
        <div layout:replace="~{common/article-list(list=${page.records})}"></div>
    </div>
    <!-- 内容主体结束 -->

    <!-- 分页 -->
        <div id="gal-pagination" class="clearfix" th:utext="${pageHtml}"></div>
    <!-- 分页结束 -->
</div>
</body>
</html>