<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="author" th:content="${GLOBAL.BLOG_AUTHOR}">
    <title th:text="'忘记密码 - '+${GLOBAL.BLOG_TITLE}"></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/login.css(v=1.0.1)}">
    <link rel="stylesheet" th:href="@{/vendor/toastr/toastr.min.css(v=2.1.1)}">
</head>
<body class="login login-action-lostpassword wp-core-ui locale-zh-cn">
<div id="login">
    <h1>
        <a th:href="@{${GLOBAL.BLOG_URL}}">
            <div class="navbar-brand" th:text="${GLOBAL.BLOG_TITLE}"></div>
        </a>
    </h1>
    <p class="message">请输入您的电子邮箱地址。您会收到一封包含验证码的电子邮件。</p>
    <form name="lostpasswordform" id="lostpasswordform" method="post">
        <p>
            <label for="email">电子邮件<br/>
                <input type="email" name="email" id="email" required class="input" value="" size="25"/>
            </label>
        </p>
        <p>
            <label>验证码<br/>
                <input type="text" name="code" style="width: 55%" id="code" required class="input" value="" size="25" minlength="6" maxlength="6"/>
                <input type="button" style="float: none;vertical-align: text-bottom;margin-left: 8px;" data-operation="找回密码" name="send-code" id="send-code" class="button button-primary button-large" value="点击获取验证码">
            </label>
        </p>
        <p><label for="password">新密码<br/> <input type="password" name="password" id="password" class="input" value=""
                                                size="20" required pattern="^[a-zA-Z0-9]\w{5,19}$"
                                                oninvalid="this.setCustomValidity('6~20字母数字或下划线')"
                                                oninput="this.setCustomValidity('')"/></label></p>
        <p class="submit">
            <a style="text-decoration: none;" th:href="@{/login(redirect_to=${param.redirect_to})}">登录</a>
            |
            <a style="text-decoration: none;" th:href="@{/register(redirect_to=${param.redirect_to})}">注册</a>
            <input type="submit" name="wp-submit" id="wp-submit"
                   class="button button-primary button-large" value="重置密码"/>
        </p>
    </form>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js(v=3.2.1)}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js(v=3.3.7)}"></script>
<script th:src="@{/vendor/toastr/toastr.min.js(v=2.1.1)}"></script>
<script th:src="@{/js/blog.js(v=1.0.4)}"></script>
</body>
</html>