<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>标签</title>
    <meta name="keywords" th:content="${GLOBAL.BLOG_KEYWORDS}">
    <meta name="description" th:content="${GLOBAL.BLOG_DESCRIPTION}">
</head>
<body>
<div layout:fragment="content">
    <article class="article well article-body" id="article-tags">
        <div class="breadcrumb">
            <i class="fa fa-home"></i>
            <a th:href="${GLOBAL.BLOG_URL}" th:title="${GLOBAL.BLOG_TITLE}" th:text="${GLOBAL.BLOG_TITLE}"></a>
            &gt;
            <span>标签</span>
        </div>
        <!-- 大型设备详细文章 -->
        <div class="hidden-xs">
            <div class="title-article">
                <h1>标签</h1>
            </div>
        </div>
        <!-- 小型设备详细文章 -->
        <div class="visible-xs">
            <div style="text-align: center;">
                <div class="title-article">
                    <h4>标签</h4>
                </div>
            </div>
        </div>
        <div class="content-article" style="margin-top: 30px;">
            <div class="alert alert-info" style="font-size: 14px; line-height: 2; font-weight: bold;">
                <th:block th:each="item:${list}">
                    <a th:href="@{./{url}/(url=${item.url})}" th:text="${item.name}"></a>
                    <br>
                </th:block>
            </div>
        </div>
    </article>
</div>
</body>
</html>