<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iszhouhua.blog.mapper.TagMapper">

  <select id="selectTagsByArticleId" resultType="Tag">
      SELECT a.* FROM blog_tag AS a LEFT JOIN blog_article_tag AS b ON a.id=b.tag_id WHERE b.article_id = #{articleId}
  </select>
</mapper>